<div class="wholeDiv">
  <div class="main">
      <h1>LOGO</h1>
      <h4>Plan your every day! Don't waste time thinking everyday!</h4>
      <h3>ACT</h3>
      <h4>Feel free to us my application</h4>
    <button class="btn btn--swap WelcomeBtn" (click)="movehellodiv()">Welcome&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
      <span>Welcome&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></span></button>
  </div>
  <div class="MoveDiv">
    <div style="margin-bottom: 2vh; width: 40vw; margin-left: 30vw;">
      If you want to return to the representative page or learn about the functionality of the application please select the appropriate option below.
    </div>
    <div class="divMoveButtons">
      <button class="btn btn--swap MoveInfoBtn" routerLink=""><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Welcome Page
        <span><i class="glyphicon glyphicon-arrow-left"></i>&nbsp;Welcome Page</span></button>
      <button class="btn btn--swap" routerLink="/information">More informations&nbsp;<i class="glyphicon glyphicon-arrow-right"></i>
        <span>More informations&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></span></button>
    </div>
  </div>
</div>