.divNoteList{
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
}

.divNote {
    background: white;
    border-radius: 1vw;
    border-width: thick;

    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh 1vw;

    height: 22vh;
    width: 12vw;

    .noteName{

    }

    .noteDate{
        position: relative;
        left:8vw;
    }

    .noteContent{

    }

    hr {
        margin-top: 1vh;
        margin-bottom: 1vh;
    }

}   