<div class="wholeAPP">
  <div class="divUpper">
    <hr />
  </div>
  <div class="divMain">
    <span class="MainSpan">WELCOME AT MY PAGE</span>
    <span>It is a fully independent project.</span>
    <span>This website was created in order to deepen the knowledge and present the actual level of my front-end
      skills.</span>
  </div>
  <div class="divButton">
    <button class="btn btn--swap" routerLink="/home"><i class="fas fa-hand-paper"></i>&nbsp;&nbsp;WELCOME&nbsp;&nbsp;&nbsp;<i
        class="glyphicon glyphicon-arrow-right">
      </i><span><i class="fas fa-hand-paper"></i>&nbsp;&nbsp;WELCOME&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-arrow-right"></i></span></button>
  </div>
  <div class="divTechno">
    Below are listed the technologies and tools I used to design and implement functionalities.
    <div class="technologie pierwszy">
      Technologies
      <hr />
      <span><i class="fab fa-angular"></i>&nbsp;Angular 8</span>
      <span><i class="fab fa-css3-alt"></i>&nbsp;CSS 3</span>
      <span><i class="fab fa-html5"></i>&nbsp;HTML 5</span>
    </div>
    <div class="technologie drugi">
      Tools & Extensions
      <hr />
      <span>FireBase</span>
      <span><i class="fab fa-sass"></i>&nbsp;SASS</span>
      <span>Angular Material</span>
      <span><i class="fab fa-bootstrap"></i>&nbsp;Bootstrap</span>
      <span><i class="fab fa-font-awesome"></i>&nbsp;Font Awesome</span>
      <span>KendoUI</span>
    </div>
  </div>
  <div class="divContact">
    <span>Feel free to contact with me !</span>
    <div class="divContactButtons">
      <button class="btn btn--swap ContactButton ContactButton1" (click)="MoveTo('https://www.linkedin.com/in/krzysztof-gruszka-60a30618a/');">LinkedIn
        &nbsp;<i class="fab fa-linkedin-in"></i><span>LinkedIn&nbsp;&nbsp;<i class="fab fa-linkedin-in"></i></span>
      </button> <button class="btn btn--swap ContactButton" (click)="MoveTo('https://github.com/KrzysztofGruszka?tab=repositories')">GitHub
        &nbsp;<i class="fab fa-github"></i><span>GitHub&nbsp;&nbsp;<i class="fab fa-github"></i></span></button>
      <button class="btn btn--swap ContactButton ContactButton3" (click)="copyMessage('krzysztof.s.gruszka@gmail.com')">Copy
        E-mail &nbsp; <i class="glyphicon glyphicon-envelope"></i><span>Copy E-Mail&nbsp;&nbsp;&nbsp;<i class="glyphicon glyphicon-envelope"></i></span></button>
    </div>
  </div>
</div>